.ionian {
  .stage.stage4 {
    &::after {
      content: "IV";
    }
  }

  .stage.stage1 {
    &::after {
      content: "I";
    }
  }

  .stage.stage5 {
    &::after {
      content: "V";
    }
  }

  .stage.stage2 {
    &::after {
      content: "ii";
    }
  }

  .stage.stage6 {
    &::after {
      content: "vi";
    }
  }

  .stage.stage3 {
    &::after {
      content: "iii";
    }
  }

  .stage.stage7 {
    &::after {
      content: "vii";
    }
  }
}

.dorian {
  .stage.stage4 {
    &::after {
      content: "III";
    }
  }

  .stage.stage1 {
    &::after {
      content: "VII";
    }
  }

  .stage.stage5 {
    &::after {
      content: "IV";
    }
  }

  .stage.stage2 {
    &::after {
      content: "i";
    }
  }

  .stage.stage6 {
    &::after {
      content: "v";
    }
  }

  .stage.stage3 {
    &::after {
      content: "ii";
    }
  }

  .stage.stage7 {
    &::after {
      content: "vi";
    }
  }
}

.phrygian {
  .stage.stage4 {
    &::after {
      content: "II";
    }
  }

  .stage.stage1 {
    &::after {
      content: "VI";
    }
  }

  .stage.stage5 {
    &::after {
      content: "III";
    }
  }

  .stage.stage2 {
    &::after {
      content: "vii";
    }
  }

  .stage.stage6 {
    &::after {
      content: "iv";
    }
  }

  .stage.stage3 {
    &::after {
      content: "i";
    }
  }

  .stage.stage7 {
    &::after {
      content: "v";
    }
  }
}

.lydian {
  .stage.stage4 {
    &::after {
      content: "I";
    }
  }

  .stage.stage1 {
    &::after {
      content: "V";
    }
  }

  .stage.stage5 {
    &::after {
      content: "II";
    }
  }

  .stage.stage2 {
    &::after {
      content: "vi";
    }
  }

  .stage.stage6 {
    &::after {
      content: "iii";
    }
  }

  .stage.stage3 {
    &::after {
      content: "vii";
    }
  }

  .stage.stage7 {
    &::after {
      content: "iv";
    }
  }
}

.mixolydian {
  .stage.stage4 {
    &::after {
      content: "VII";
    }
  }

  .stage.stage1 {
    &::after {
      content: "IV";
    }
  }

  .stage.stage5 {
    &::after {
      content: "I";
    }
  }

  .stage.stage2 {
    &::after {
      content: "v";
    }
  }

  .stage.stage6 {
    &::after {
      content: "ii";
    }
  }

  .stage.stage3 {
    &::after {
      content: "vi";
    }
  }

  .stage.stage7 {
    &::after {
      content: "iii";
    }
  }
}

.aeolian {
  .stage.stage4 {
    &::after {
      content: "VI";
    }
  }

  .stage.stage1 {
    &::after {
      content: "III";
    }
  }

  .stage.stage5 {
    &::after {
      content: "VII";
    }
  }

  .stage.stage2 {
    &::after {
      content: "iv";
    }
  }

  .stage.stage6 {
    &::after {
      content: "i";
    }
  }

  .stage.stage3 {
    &::after {
      content: "v";
    }
  }

  .stage.stage7 {
    &::after {
      content: "ii";
    }
  }
}

.locrian {
  .stage.stage4 {
    &::after {
      content: "V";
    }
  }

  .stage.stage1 {
    &::after {
      content: "II";
    }
  }

  .stage.stage5 {
    &::after {
      content: "VI";
    }
  }

  .stage.stage2 {
    &::after {
      content: "iii";
    }
  }

  .stage.stage6 {
    &::after {
      content: "vii";
    }
  }

  .stage.stage3 {
    &::after {
      content: "iv";
    }
  }

  .stage.stage7 {
    &::after {
      content: "i";
    }
  }
}

.harmonic.minor,
.melodic.minor {
  // stages
  .stage.stage4 {
    &::after {
      content: "VI";
    }
  }

  .stage.stage1 {
    &::after {
      content: "III";
    }
  }

  .stage.stage5 {
    &::after {
      content: "vii";
    }
  }

  .stage.stage2 {
    &::after {
      content: "iv";
    }
  }

  .stage.stage6 {
    &::after {
      content: "i";
    }
  }

  .stage.stage3 {
    &::after {
      content: "V";
    }
  }

  .stage.stage7 {
    &::after {
      content: "ii";
    }
  }
}

.melodic.minor {
  // stages
  .stage.stage4 {
    &::after {
      content: "vi";
    }
  }

  .stage.stage2 {
    &::after {
      content: "IV";
    }
  }
}
